<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
  
      <ion-item>
        <ion-label position= 'floating'>Name</ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position='floating'>Surname</ion-label>
        <ion-input [(ngModel)]="surname" type="text"></ion-input>
      </ion-item>
  
    </ion-list>
  
    <ion-button expand ="block" color="primary" (click)="checkName()">Enter</ion-button>
  
</ion-content>
